* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

.profile-card {
  background-color: hsla(0, 0%, 100%, .5);
  border-radius: 4px;
  width: 480px;
  max-width: calc(100vw - 10px);
  box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
}
body {
  background: url('https://cdn.dribbble.com/users/1363223/screenshots/3152950/dribbble_deathstar.png') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.head, .links {
  text-align: center;
}
.head, .content {
  width: 90%;
  margin: 0 auto;
}
.head, .about {
  margin-bottom: 10%;
}

.content {
  padding: 5% 10%;
}
img {
  padding: 1px;
  background-color: #666;
  filter: grayscale(50%);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  cursor: pointer;
}
img:hover {
  transform: scale(1.1);
  filter: grayscale(20%);
}
.profile-image {
  margin-top: -60px;
}
.content {
  border-top: 1px solid hsla(0, 0%, 30%, .8);
}
ul {
  list-style-type: none;
}

li {
  display: inline;
}
span{
  color: #440;
}